<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Register</title>
</head>

<body class="container-flex-column screem-size register-grad">
  <main>
    <div class="col-xs-10 col-md-3">
      <div class="row text-center">
        <img src="../assets/images/logo-pink.png" class="img-responsive center-block" alt="logo">
      </div>
      <br>
      <div class="row">
        <div class="col-xs-10 col-md-3 text-center">
          <a href="login.html" type="button" class="btn btn-default btn-xs col-xs-offset-1" id="signup">LOG IN</a>
          <a href="signup.html" type="button" class="btn btn-default btn-xs col-xs-offset-1" id="login">SIGN UP</a>
        </div>
      </div>
    </div>
  </main>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
</body>

</html>